<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CurrentDate</servlet-name>
        <servlet-class>CurrentDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>HelloWorld</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Counter</servlet-name>
        <servlet-class>Counter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HolisticCounter</servlet-name>
        <servlet-class>HolisticCounter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>INITCounter</servlet-name>
        <servlet-class>INITCounter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServerDisplay</servlet-name>
        <servlet-class>ServerDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PackageHeader</servlet-name>
        <servlet-class>PackageHeader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiceRoller</servlet-name>
        <servlet-class>DiceRoller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParameterN</servlet-name>
        <servlet-class>ParameterN</servlet-class>
        <init-param>
            <param-name>Yash</param-name>
            <param-value>130050131044</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>PassParameter</servlet-name>
        <servlet-class>PassParameter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MultipleParameter</servlet-name>
        <servlet-class>MultipleParameter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTime</servlet-name>
        <servlet-class>UpdateTime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookieHelloForm</servlet-name>
        <servlet-class>CookieHelloForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadCookies</servlet-name>
        <servlet-class>ReadCookies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCookies</servlet-name>
        <servlet-class>DeleteCookies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionTrack</servlet-name>
        <servlet-class>SessionTrack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionLastAccessTime</servlet-name>
        <servlet-class>SessionLastAccessTime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSessionValue</servlet-name>
        <servlet-class>GetSessionValue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HitCounter</servlet-name>
        <servlet-class>HitCounter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertRecord</servlet-name>
        <servlet-class>InsertRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectRecord</servlet-name>
        <servlet-class>SelectRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeftJoin</servlet-name>
        <servlet-class>LeftJoin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cookie</servlet-name>
        <servlet-class>Cookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cookies</servlet-name>
        <servlet-class>Cookies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cookie1</servlet-name>
        <servlet-class>Cookie1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hide</servlet-name>
        <servlet-class>Hide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hide1</servlet-name>
        <servlet-class>Hide1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>URL</servlet-name>
        <servlet-class>URL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>URL1</servlet-name>
        <servlet-class>URL1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authentication</servlet-name>
        <servlet-class>Authentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertData_html</servlet-name>
        <servlet-class>InsertData_html</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetriveData</servlet-name>
        <servlet-class>RetriveData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CurrentDate</servlet-name>
        <url-pattern>/CurrentDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/HelloWorld</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Counter</servlet-name>
        <url-pattern>/Counter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HolisticCounter</servlet-name>
        <url-pattern>/HolisticCounter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>INITCounter</servlet-name>
        <url-pattern>/INITCounter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerDisplay</servlet-name>
        <url-pattern>/ServerDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PackageHeader</servlet-name>
        <url-pattern>/PackageHeader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiceRoller</servlet-name>
        <url-pattern>/DiceRoller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParameterN</servlet-name>
        <url-pattern>/ParameterN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassParameter</servlet-name>
        <url-pattern>/PassParameter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MultipleParameter</servlet-name>
        <url-pattern>/MultipleParameter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTime</servlet-name>
        <url-pattern>/UpdateTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookieHelloForm</servlet-name>
        <url-pattern>/CookieHelloForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadCookies</servlet-name>
        <url-pattern>/ReadCookies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCookies</servlet-name>
        <url-pattern>/DeleteCookies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionTrack</servlet-name>
        <url-pattern>/SessionTrack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionLastAccessTime</servlet-name>
        <url-pattern>/SessionLastAccessTime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSessionValue</servlet-name>
        <url-pattern>/GetSessionValue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HitCounter</servlet-name>
        <url-pattern>/HitCounter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertRecord</servlet-name>
        <url-pattern>/InsertRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectRecord</servlet-name>
        <url-pattern>/SelectRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeftJoin</servlet-name>
        <url-pattern>/LeftJoin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cookie</servlet-name>
        <url-pattern>/Cookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cookies</servlet-name>
        <url-pattern>/Cookies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cookie1</servlet-name>
        <url-pattern>/Cookie1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hide</servlet-name>
        <url-pattern>/Hide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hide1</servlet-name>
        <url-pattern>/Hide1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>URL</servlet-name>
        <url-pattern>/URL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>URL1</servlet-name>
        <url-pattern>/URL1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authentication</servlet-name>
        <url-pattern>/Authentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertData_html</servlet-name>
        <url-pattern>/InsertData_html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetriveData</servlet-name>
        <url-pattern>/RetriveData</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
